h1 {
  text-align: center;
}

table {
  margin: auto;
}

td {
  width: 100px;
  height: 100px;
}

td:hover {
  border: 1px solid grey;
}

.vertical {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.horizontal {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

button {
  width: 100%;
  height: 100%;

}

/* {
  x: 1,
  y: 1,
  symbol: "x"
}
obj.x */
