h1 {
  text-align: center;
}

table {
  margin: auto;
}

td {
  width: 20vh;
  height: 20vh;
}

td:hover {
  background-color: #efefef;
}

.vertical {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.horizontal {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

button {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  text-decoration: none;
  border: 1px solid;
}

button:hover {
  border: 1px solid;
  background-color: #efefef;
}

/* {
  x: 1,
  y: 1,
  symbol: "x"
}
obj.x */
